/* addfeed.css */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.RSS-search-wrapper {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: black;
  box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.541);
  overflow: hidden;
  margin-left: 10% !important;
}
.RSS-search-wrapper-p {
  position: absolute;
  top: -66%;
  font-size: 1.3rem;
  left: 32%;
  font-weight: 700;  
}

.addFeed {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub_btn {
  background-color: #808080;
  border-radius: 8px;
  position: fixed;
  padding: 7px;
  font-weight: 700;
  top: 109%;
  left: 70%;
  cursor: pointer;
  color: black;
}

.search-input {
  color: red;
  border-radius: 27px;
  margin-top: 0.5rem;
  width: 50%;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  font-size: large;
  font-weight: bolder;
}

/* Responsive styles */
@media (max-width: 768px) {
  .RSS-search-wrapper {
    height: 40px;
    max-width: 80%; /* Adjust width for mobile */
    margin-left: 10% !important; /* Adjust margin for mobile */
  }

  .addFeed {
    flex-direction: column; /* Stack items vertically on mobile */
    width: 90%; /* Adjust width for mobile */
    gap: 20px; /* Reduce gap for mobile */
    top: 50%; /* Adjust top position */
    transform: translate(-50%, -50%);
  }

  .search-input {
    padding: 8px; /* Adjust padding for mobile */
    font-size: 14px; /* Adjust font size for mobile */
    margin-top: 10px; /* Remove margin for mobile */
  }

  .sub_btn {
    top: 90%; /* Adjust position for mobile */
    left: 50%; /* Center button on mobile */
    transform: translateX(-50%); /* Center button horizontally */
  }
}

@media (max-width: 480px) {
  .RSS-search-wrapper {
    height: 30px;
    margin-left: 10%;
    width: 90%;
  }

  .search-input {
    padding: 6px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .sub_btn {
    background-color: rgb(214, 2, 2);
    padding: 5px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

}
