
.search {
  width: 100%;
  position: relative;
  display: flex;
}


.RSS-search-wrapper {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: black;
  box-shadow:  10px 10px  0  rgba(255, 255, 255, 0.541);
  overflow: hidden;
  margin-left:10% !important;

}


.addFeed{
  display:flex;
  gap:30px;
  align-items:center;
  justify-content:center;

  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
