
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #585858;
  border-right: none;
  padding: 5px;
  height: 3rem;
  border-radius: 10px 0 0 10px;
  outline: none;
  box-shadow: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #ffffff;
}

.searchButton {
  width: 40px;
  height: 3rem;
  border: 1px solid rgb(187, 75, 75);
  background: rgb(198, 91, 91);
  text-align: center;
  color: whitesmoke;
  border-radius: 0px 10px 10px 0px;
  
  cursor: pointer;
  font-size: 20px;

}
.searchButton:hover{
  border: 1px solid rgb(255, 0, 0);
  background: rgb(255, 0, 0);
  color: whitesmoke;
}
/*Resize the wrap to see the search bar change!*/
.addFeed{
  display:flex;
  gap:30px;
  align-items:center;
  justify-content:center;

  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
