.err_class {
  background-color: #ffebee;
}
.noterr_class {
  background-color: #acbbcf;
}

.success_class {
  background-color: #b0cdae;
}


.alert_component {
  z-index: 20;
  width:50;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0 0 0 0.1);
  font-weight: bold;
  transition: all 0.6s;
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
}

.flex {
  justify-content: center;
  display:flex;
  align-items: center;
}

.alert_component h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}
@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}

