.error_class {
  background-color: #f52121e1;
  color:white
}
.notify_class {
  background-color: #f52121e1;
  color:white
}

.noterr_class {
  background-color: #acbbcf;
}

.success_class {
  background-color: #b0cdae;
}

.welcome_class {
  background-color: #27d327;
}

.alert_container {
  position: fixed;
  top: 20%;
  width: 80%;
  display: flex;
  left: 20%;
  text-align: center;
  z-index: 1000; /* Ensure it's above other content */
}

.alert_component {
  position: fixed;
  top: 19px;
  left: 305px;
  z-index: 20;

  width: 30%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  transition: all 0.6s;
  font-family: "Lato", sans-serif;
  color: #000000;
}

.alert_component h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
