
.gallary_items{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 7%;
    padding-left:10rem;
    padding-right:10rem;
}
  .nav_bar{
    z-index: 5;
  }
  
