
.gallary_items{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  margin-right: 13%;
  margin-left: 10%;
  margin-top: 13%;
  margin-bottom: 2%;
}
  .nav_bar{
    z-index: 5;
  }
