.gallary_items {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  margin-right: 13%;
  margin-left: 10%;
  margin-top: 13%;
  margin-bottom: 2%;
}

.nav_bar {
  z-index: 5;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .gallary_items {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 2%;
    gap: 5%;
  }

  
}
