.gallary_item{

    background-color: rgb(39, 43, 43) ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 5px  rgb(34, 34, 34);
    background-color: rgb(0, 0, 0);
    padding:1rem;
    border:2px solid rgb(48, 48, 48);
    height:74vh;
    margin: 10px;
    max-height: fit-content !important;
    transition: all 300ms ease-in-out;
    position: relative;

}
.gallary_item:hover{
    /* #todo_4 make  popup effect on the product */
    background-color: rgb(22, 22, 22);
cursor: pointer;
}

.gallary_item img{

width: 100%;
height: 100%;
object-fit: contain;
border-radius: 15px;


}
.gallary_img_wrapper{

    height:60%;
    width: 100%;
}

.gallary_item_details{

    height:37%;
    overflow:hidden;

}
/*  #todo_2*/


.gallary_item_actions{
    display: flex;
    width: 100%;
    gap:1rem;

    justify-content: space-evenly;
    align-items: center;
    height:10%;


}
.gallary_item_actions svg{
    width: auto;
    height: 2rem;
}

.gallary_item_actions svg:hover{
    fill: rgb(167, 164, 164);
    stroke: rgb(158, 158, 158);
    
}


.subscribe_btn {
    background-color: rgb(163, 24, 24);
    border-radius: 10px;
    /* margin-right: 3rem; */
    /* left:40%; */
    /* position: static; */
    width: 50%;
    border: none;
    height: 2rem;
    margin: 20px;
    /* box-shadow: none !important; */
  }
  .subscribe_btn:hover {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 0, 0);
  }
  
  .followed_btn {
    background-color: rgb(60, 58, 58);
    border-radius: 10px;
    margin-right: 3rem;
    /* position: absolute; */
    /* left:40%; */
    width: 100%;
    border: none;
    height: 2rem;
    margin-top: 20px;
    /* box-shadow: none !important; */
  }
  .receive_click_div_helper {
    /* background-color: beige; */
    /* position: absolute;
      width:90%;
      height:100%; */
  }
  
  
  
  .gallary_item{
    width: 20vw !important;
  }
  
  
  
  
