
.gallary_items{
  align-items: center;
  justify-content: center;
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    /* margin-left: 10%; */
    margin-bottom: 2%;
    margin-top: 20px;
    padding-left:10rem;
    padding-right:10rem;
    margin-right: 5%;
}
  .nav_bar{
    z-index: 5;
  }
  
