/* General styles */
.verticalCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 25%;
    right: 1rem;
    z-index: 5;
    width: 13%;
    height: 70vh;
    border-left: 2px solid #cccccc86;
    padding-left: 1rem;
    padding-right: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 5px 0 10px rgb(172, 172, 172);
    background-color: black;
}

.articlesNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;
    position: absolute;
    top: 20px;
    z-index: 37px;
}

.articles-view {
    display: grid;
    margin-top: 5%;
}

.verticalCards::-webkit-scrollbar {
    width: 10px;
}

.verticalCards::-webkit-scrollbar-thumb {
    background-color: #fd0404c7;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.verticalCards::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.horizontalCards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.channelTitle {
    font-family: 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    color: rgb(225, 217, 217);
}

.channelTitleBox {
    width: 60%;
}

.channelImage {
    width: 100%;
    height: 3rem;
    border-radius: 50%;
    opacity: '0.6';
}

.channelImageBox {
    width: 3rem;
}

.channelsHover {
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    width: 100%;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 16px;
}

.channelsHover:hover {
    background-color: rgba(109, 106, 106, 0.548);
}

.activeChannel {
    margin-top: 10px;
    background-color: rgba(76, 76, 77, 0.685);
    box-shadow: 2px 0px 10px white;
    border-radius: 5px;
}

.No-channels {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.No-channels button {
    position: fixed;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.726);
    border-radius: 20%;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(250, 248, 248, 0.514);
    font-weight: bolder;
    font-size: large;
    color: rgba(255, 255, 255, 0.753);
    height: 70px;
    margin-top:20%;
}

.No-channels button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    border: 1px solid rgb(5, 5, 5);
}

.No-channels h1{
    position: fixed;
    text-align: center;
}

.channel-title {
    color: white;
    font-size: 1.5rem;
    top: 12%;
    transform: translatey(-20%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

/* Mobile specific styles */
@media (max-width: 768px) {
    .channel-title {
        color: rgb(255, 0, 0);
        font-size: 1rem;
        top: 15%;
       
    }
    .verticalCards {
        display: none;
    }

    .dropdownButton {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 30%;
        right: .5rem;
        background-color: rgba(90, 90, 90, 0.726);
        border: none;
        border-radius: 50%;
        padding: 0;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 10;
    }

    .dropdownButton img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .dropdownList {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: black;
        width: 100%;
        max-width: 80%;
        max-height: 60vh;
        overflow-y: auto;
        border: 1px solid #cccccc86;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: 5px 0 10px rgb(172, 172, 172);
        position: fixed;
        top:31%;
        right: 15%;
        z-index: 1100;
    }

    .dropdownItem {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

    .dropdownItem:hover {
        background-color: rgba(109, 106, 106, 0.548);
    }

    .dropdownItem img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 10px;
    }

    .dropdownItem p {
        flex: 1;
        margin: 0;
        color: rgb(225, 217, 217);
        font-family: 'sans-serif';
        font-size: 14px;
        font-weight: 500;
    }

    /* Add this CSS for the selected dropdown item */
    .selectedDropdownItem {
        background-color: rgba(76, 76, 77, 0.685);
        box-shadow: 2px 0px 10px white;
        border-radius: 5px;
    }

    .dropdownList::-webkit-scrollbar {
        width: 10px;
    }

    .dropdownList::-webkit-scrollbar-thumb {
        background-color: #fd0404c7;
        border-radius: 10px;
        border: 2px solid #ccc;
    }

    .dropdownList::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }


    .No-channels h1 {
        font-size: 1.5rem;
         margin-left: 8%;
         padding-left:5% ;
    }
    


    .No-channels button {
        background-color: rgba(255, 0, 0, 0.726);
        font-size: 1rem;
        font-size: medium;
        height: 50px;
        margin-top: 50%;
    }
    
    .No-channels button:hover {
        background-color: rgb(255, 0, 0);
        color: white;
        border: 1px solid rgb(5, 5, 5);
    }
}
