.verticalCards {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 25%;
    right: 1rem;
    z-index: 5;
    width: 13%;
    height: 70vh; 
    border-left: 2px solid #cccccc86; 
    padding-left: 1rem; 
    padding-right: 2rem; 
    overflow-y: scroll; 
    overflow-x: hidden;
    border-radius: 5%;
    box-shadow: 5px 0 10px rgb(172, 172, 172);
}
.articlesNavbar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 67px;
        position: absolute;
        top: 20px;
        z-index: 37;
}
.verticalCards::-webkit-scrollbar {
    width: 10px;
}

.verticalCards::-webkit-scrollbar-thumb {
    background-color: #fd0404c7;
    border-radius: 10px;
    border: 2px solid #ccc;
}


.verticalCards::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}


.horizontalCards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.channelTitle {
    font-family: 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    color: rgb(225, 217, 217);
}

.channelTitleBox {
    width: 60%;
}

.channelImage {
    width: 100%;
    height: 3rem;
    border-radius: 50%;
    opacity: '0.6';
}

.channelImageBox {
    width: 3rem;
}

.channelsHover {
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    width: 100%;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 16px;
}

.channelsHover:hover {
    background-color: rgba(109, 106, 106, 0.548);
}

.activeChannel {
    margin-top: 10px;
    background-color: rgba(76, 76, 77, 0.685);
    box-shadow: 2px 0px 10px white;
    border-radius: 5px;
}

.No-channels {

    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.No-channels button {
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.726);
    border-radius: 20%;
    font-size: 16px;
    box-shadow: 0px 4px 8px rgba(250, 248, 248, 0.514);
    font-weight: bolder;
    font-size: large;
    color: rgba(255, 255, 255, 0.753);
    height: 70px;
    margin-top: 20px;
}

.No-channels button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    border: 1px solid rgb(5, 5, 5);
}

