
       .contact-container {
        border-top: 0.1rem solid rgb(82, 80, 80) !important;

        display: flex;
      
        flex-direction: column;
      
        align-items: center;
      
        justify-content: center; 
        position: relative;
          
        /* transition: background-color 0.3s;  */
      } 
      
      
      
      .contact-heading {
      
        color: rgb(255, 255, 255);
        margin-top: 10px;
      
      }
      
      
  .contact-form{
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    width: 120%;
    margin-bottom: 10px;

  }
      
      
      
      .contact-label {
      
        color: white;
      
      }
      
      
      
      .contact-input,
      
      .contact-textarea {
      
        color: rgb(245, 207, 207);
      
      
        width:25rem;
        border-radius: 5px;
        background-color: rgba(55, 49, 49, 0.364);
        max-width: 25rem;
        padding: 30px;

        outline: none;
      border:none;
        margin: 10px;

      
      }

       
    
    
      .contact-input{
        margin-top:30px;
      }
      
      .contact-submit-btn {
      
        color: rgb(255, 255, 255);
      
        background-color: rgb(58, 29, 29);
      
        border: none;
      
        padding: 10px 20px;
      
        cursor: pointer;
        border-radius: 5px;

        transition: color 0.3s, background-color 0.3s; /* Added transition for color and background-color */
    margin-bottom: 40px;
    margin-top: 30px;
      
      }
      
      
      .contact-submit-btn:hover {
      
        color: white;
      
        background-color: rgb(143, 49, 49);
      
      }
      
      
      
    