.discover_channels_class {
    margin-top: 0%;
    margin-bottom: 0px;
  }

  @media (max-width: 768px) {

  
    .discover_channels_class {
      margin-top: 50%;
      margin-bottom: 10px;
    }
  }  