.err_container {
    background-color: #ffebee;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0 0 0 0.1);
  }


  .err_text {
    color: #f44336;
    margin-bottom: 10px;
  }
  .err_Message {
    color: #f44336;
    font-weight: bold;
  }