.login_logout_container {
    width: 100%;
    height: 100vh;
    position: relative;
    bottom :300;
}

.form_sign {
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 245, 245, 0.60) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 50px 60px 70px;
    text-align: center;
}



.form_sign h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: blue;
    position: relative;
}



.form_sign h1::after {
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 3px;
    color: blue;
    background-color: blue;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}



.input-field {
    background: white;
    margin: 15px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    max-height: 65px;
    overflow: hidden;
}


.form_sign input[type="text"],
.form_sign input[type="email"],
.form_sign input[type="password"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: BLACK;
    background-color: rgba(245, 245, 245, 0.60);
}

.form_sign input[type="text"]:focus,
.form_sign input[type="email"]:focus,
.form_sign input[type="password"]:focus {
    outline: none;
    background-color: #297fb933;
}

.form_sign input[type="text"]::placeholder,
.form_sign input[type="email"]::placeholder,
.form_sign input[type="password"]::placeholder {
color:rgba(0, 0, 0, 0.445);}


.buttons {
    margin-top: 20px;
}

.buttons button {
    flex-basis: 48%;
    height: 40px;
    width: 80px;
    border: 1;
    outline: 0;
    cursor: pointer;
    background-color: rgb(24, 24, 116);
    color: #fff;
    margin: 5% 5%;
    padding-inline: 5px;
    border-style: auto;
    border-radius: 10%;
    font-family: Tahoma;
}


button:hover {
    background-color: #2980b9;
}
.transmit button :hover{background-color: #2980b9;}

.transmit button {
    flex-basis: 48%;
    height: 30px;
    width: 70px;
    border: 1;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background-color: rgb(24, 24, 116);  
    margin: 5% 5%;
    padding-inline: 5px;
    border-style: auto;
    border-radius: 10%;
    font-family: Tahoma;
}


.show {
    font-size: 14px;
    font-weight: bold;
    color: #3498db;
    cursor: pointer;
    padding-right: 25px;
}

.show:hover {
    text-decoration: underline;
}


#awesome1 {
    padding-right: 5px;
    margin-left: 10px;
}


.close-button {
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

#X {
    color: red;
}