
.login_assist {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-360deg, rgba(8, 8, 8, 0.007),rgba(0, 0, 0, 0.589));
  z-index: 4;
  opacity: 0.9;
  transition: 0.7s; 

}

.form_sign {
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(219,22,22,1) 50%, rgba(252,176,69,1) 100%);
  width: 100%;
  z-index: 5 !important;
  bottom:-300px;
  max-width: 450px;
  max-height: 750px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.089), rgba(0, 0, 0, 0.247)); */
  /* background-image: url('../images/login3.jpg'); */
background-repeat: no-repeat;
background-position: center;
background-size: cover;
  box-shadow: 10px 10px 20px  rgba(53, 50, 50, 0.616);

  border-radius: 15px;
  padding: 50px 60px 70px;
  text-align: center;
position: fixed;

  animation-name: slideIn,descend;
  animation-duration: .5s ;
  animation-fill-mode: forwards; 
}


@keyframes slideIn {
  from {
    transform: translatex(100%);

  }
  to {
    
    transform: translatex(-50%);


  }
}

@keyframes descend {
  from {
    transform: translateY(-50vh); /* Move from the top */
  }
  to {
    transform: translate(-50%, -50%); /* Move to the center */
  }
}

.form_sign h1 {
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
  position: relative;
}

.form_sign h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  color: white;
  background-color: white;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
}

.input-field {
  background: rgba(255, 255, 255, 0.877);
  margin: 10px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  max-height: 65px;
  overflow: hidden;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.692)  ;

}

.form_sign input[type="text"],
.form_sign input[type="email"],
.form_sign input[type="password"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  box-shadow: 10px 10px 20px  rgba(255, 255, 255, 0.541);
  background-color:rgba(255, 255, 255, 0.452);

}

.form_sign input[type="text"]:focus,
.form_sign input[type="email"]:focus,
.form_sign input[type="password"]:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.301);
}

.form_sign input[type="text"]::placeholder,
.form_sign input[type="email"]::placeholder,
.form_sign input[type="password"]::placeholder {
  color: rgba(0, 0, 0, 0.445);
}

.buttons {
  margin-top: 20px;
}

.buttons button {
  flex-basis: 48%;
  height: 40px;
  width: 80px;
  border: 1;
  outline: 0;
  cursor: pointer;
  background-color: rgb(7, 7, 7);
  color: white;
  margin: 5% 5%;
  padding-inline: 5px;
  border-style: auto;
  border-radius: 10%;
  font-family: Tahoma;
}

button:hover {
  background-color: white;
  color:black;
}


.transmit button {
  flex-basis: 48%;
  height: 40px;
  width: 80px;
  border: 1;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: rgba(17, 16, 16, 0.11);
  margin: 5% 5%;
  padding-inline: 5px;
  border-style: auto;
  border-radius: 10%;
  font-family: Tahoma;
}

.transmitCRT button{
  flex-basis: 48%;
  height: 40px;
  width: 80px;
  border: 1;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: rgba(17, 16, 16, 0.11);
  margin: 0;
  padding-inline: 5px;
  border-style: auto;
  border-radius: 10%;
  font-family: Tahoma;
}

.transmitCRT  :hover {
  background-color:red;
  color:white;
}
.transmit  :hover {
  background-color:red;
  color:white;
}


.show {
  font-size: 14px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
  padding-right: 25px;
}

.show:hover {
  text-decoration: underline;
}

#awesome1 {
  padding-right: 5px;
  margin-left: 10px;
}

.close-button {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
  border-radius: 50%; 
  background-color: rgb(26 16 16 / 87%);
  width: 30px; 
  height: 30px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset_link{
  color:rgb(249, 236, 236);
}
#X {
  color: rgb(248, 242, 242);
  font-size: large;
}
