
.landing-page{

    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5rem;


}



.quote-landingPage{
    align-self: center;
}
@keyframes query-animation {
    0% {
        color:rgb(255, 0, 0) ;
    }
   
  }@keyframes logo-circle-animation {
    0% {
        color:rgb(255, 255, 255) ;
    }
   
  }
  

  
  .quote-landingPage {
    animation: query-animation 3s infinite;


}  .quote-landingPage {
    animation: query-animation  3s infinite;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-style: normal;
    background-color: rgb(35, 33, 33);
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10px;
}

