 

.landing-page{

    width:100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5rem;
    position: relative; 
    animation: bg-image-animation 10s infinite; 
    background-position: center;
    background-size:cover

}



@keyframes query-animation {
    0% {
        color:rgb(255, 0, 0) ;
    }
   
  }@keyframes logo-circle-animation {
    0% {
        color:rgb(255, 255, 255) ;
    }
   
  }
  

  
  .quote-landingPage {
    animation: query-animation 3s infinite;



} .quote-landingPage {
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-style: normal;
    background-color: rgba(35, 33, 33, 0.945);
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10px;
    color: white; 
    text-align: center; 
}   


/* 

@keyframes bg-image-animation {
    0% { background-image: url('../images/news.jpg'); }
    25% { background-image: url('../images/news2new.jpg'); }
    50% { background-image: url('../images/news3.png'); }
    75% { background-image:url('../images/news4.png');}
    75% { background-image:url('../images/news.jpg'); 
 
}} */