
.svg-logo svg{
    border-radius: 50%;
 width:3rem;
    height: auto;
    margin-left: 3rem;

 
    box-shadow: 10px 5px 5px rgb(46, 28, 28);



}
/* #todo_1 we need  transtion /animation on the logo auto play */
.svg-logo svg path {
    fill:rgb(255, 0, 0) ;


}.svg-logo svg circle {
    fill:rgb(255, 255, 255);


}




.nav_bar {
    width: 100vw;
    height:90px;
    font-size: 1.5rem;
font-weight: 600;
color:whitesmoke;
display:flex;
justify-content: space-between;
align-items: center;
border-bottom: 0.1rem solid rgb(82, 80, 80) !important;


}

.nav_bar li {
    display: inline-block;
    list-style: none;
}
.nav_bar li a{
    display: flex;
    text-align: left;
    padding: 16px 40px;
    text-decoration: none;
    color: whitesmoke;

}.nav_bar li a:hover{
    color: rgb(177, 54, 54);

    transition: color 0.3s, color 1s; /* Added transition for color and background-color */


}
.nav_bar li span{
    display: flex;
    text-align: left;
    padding: 16px 40px;
    text-decoration: none;
    color: whitesmoke;

}

.nav_bar li span:hover {

    color: rgb(177, 54, 54);
    cursor: pointer;
    text-decoration: none;
        transition: color 0.3s, color 1s; /* Added transition for color and background-color */

    
    }



    .createAccount{

        background-color: rgb(228, 49, 49);
        border-radius: 10px;
        margin-right: 3rem;
    }   .createAccount:hover{

        color:white !important;
    }

    .svg-logo {
        display: flex;
        align-items:center;
        justify-content: center;
        gap:1rem;
        
    }
    .svg-logo span{
        font-family: "Bebas Neue", sans-serif;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        font-style: normal;
    }

