
nav {

    width: 100%;
    position: fixed;
    /* background: #dae5e8; */
    z-index: 3;
font-weight: 600;
}
nav li {
    display: inline-block;
    list-style: none;
}

nav li span{
    display: flex;
    text-align: left;
    padding: 16px 40px;
    text-decoration: none;
    color: #4a6ea5;

}

nav li span:hover {
    color: #3c8dff;
    cursor: pointer;
    text-decoration: none;

    
    }


