
nav {

    width: 100%;
    position: fixed;
    /* background: #dae5e8; */
    z-index: 5;

}
nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    display: flex;
    text-align: left;
    padding: 16px 40px;
    text-decoration: none;
    color: #08234C;

}

nav li a:hover {
    color: #3c8dff;
    cursor: pointer;
    text-decoration: none;

    
    }


