  
  .pagenation_parent{
    align-items: center;
    justify-content: center;
    padding-left: 10px;
      display: flex;
      gap: 20px;
      position: fixed;
      top: 29px;
      z-index: 20;
  }
 
 .pagenation_parent_inc:hover{
  cursor: pointer;

} 

 .pagenation_parent_pg_no{
    padding: 10px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: bold;
    
  }