.preview_channel_meta{
    display:flex;
    gap:2rem;
    padding-bottom:20px;
    

}




.preview_channel_feed{
    display:flex;
    align-items:center;
    gap:5px;
    background-color:#faf9f9;
    box-shadow: 10px 10px 0 rgb(90, 88, 88);
    border-radius:10px;
    border: 1px solid rgba(255, 255, 255, 0.171) ;
    color: rgb(7, 7, 7);
    
}



.preview_channel_feed img{
    height:50%;
    width:50%;
}



.article-preview-cards{
  display:flex; 
align-items:center;

}
