.preview_channel_meta{
    display:flex;
    gap:2rem;
    padding-bottom:20px;
    

}




.preview_channel_feed{
 
    /* gap: 5px; */
    background-color: #faf9f9;
    /* box-shadow: 10px 10px 0 rgb(90, 88, 88); */
    border-radius: 10px;
    color: rgb(7, 7, 7);
    background-color: #6c6c6c;
    padding: 11px;
    
}

.preview_channel_feed h3{
    padding-left:3rem;
}

.preview_channel_feed p{
    padding:1rem;
}
.preview_channel_feed img{
    height: auto;
    width: 100%;
    object-fit: contain;
    opacity: 0.9;
    border-radius: 10px;


}



.article-preview-cards{
  display:flex; 
align-items:center;

}
