.public_channels_h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 8rem;
    background-color: rgb(255, 0, 0);
    color: rgb(219, 218, 216);
    padding: 2rem;
    border-radius: 20px;
}

.selectedCountryOrCategry {}

.public_channels_class {
    z-index: 0;
    margin: 8% !important;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .public_channels_h1 {
        font-size: 4rem;
        padding: 1rem;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
    }

    .dropdown select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }
}

@media (min-width: 769px) {
    .dropdown {
        display: none;
    }
}
