
.reset_container {

    background-image: url('../images/pass_res.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  
}
.m-5-auto h2::after {
    content: "";
    width: 50px;
    height: 4px;
    border-radius: 3px;
    color: white;
    background-color: white;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);

  }



.reset_container {
    padding:0;
    margin:0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: 100%;
    position: relative;

    
}


#sub_btn {
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 3%;
    display: block;
    height: 40px;
    width: 50%;
    border: 0;
    background: #f50c0c62;
    color: #fff; 
    border-radius: 5px;
}

#sub_btn:hover {
    background: red;
    transition: all .5s
}

h2 {
    font-weight: 400;
    margin-bottom: 20px;
    color: white;
    position: relative;

}


input {
    width: 95%;
    height: 45px;
    border-radius: 15px;
     padding: 15px;
    border: none;
    font-size: 16px;
    color: black;
    box-shadow: 10px 10px 20px  rgba(255, 255, 255, 0.541);
    background-color:rgba(255, 255, 255, 0.452);
}


.m-5-auto {
    align-items: center;
    background: linear-gradient(360deg, rgba(8, 8, 8, 0.945),rgba(0, 0, 0, 0.795));
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    padding: 50px 60px 70px;
    text-align: center;
    box-shadow:   10px 20px 0px   rgba(51, 51, 51, 0.527);
}


.Link{

    color: aliceblue;
}

.Link:hover{
    color:red;
    text-decoration: wavy;
    text-transform: capitalize;
}

h5{
    
    margin-bottom: 20px;


}