.spin-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    
    height: 100vh;
    background-color: rgb(0, 0, 0); 
    position: absolute;
    left: 35%;
    top: 30%;
}

.spinner-grow {
    margin: 1rem;
    animation: grow 1s infinite ease-in-out;
    border-radius: 50%; 
}

@keyframes grow {
    0%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

.text-success1 {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 3rem;
    background-color: #fcfcfc;
    animation-delay: 0s;
}

.text-success2 {
    width: 2rem;
    height: 2rem;
    margin-bottom: 3rem;
    background-color: rgba(0, 255, 0, 0.486); 
    animation-delay: 0.05s;
}

.text-success3 {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 3rem;
    background-color: rgba(0, 255, 0, 0.603); 
    animation-delay: 0.1s;
}

.text-success4 {
    width: 3rem;
    height: 3rem;
    margin-bottom: 3rem;
    background-color: rgb(0, 255, 0); 
    animation-delay: 0.15s;
}

.spin-container > div:first-child {
    color: whitesmoke;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: bold;
}
