
.subscription_channels_class{
margin-top: 20vh;

}
.title-subscribed-channels{
    color: white;
    font-size: 1.5rem;
    top: 10%;
    transform: translatey(-20%);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    text-align: center;
}