.receive_click_div_helper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
}

.articelTab {
    font-size: 1rem;
    font-weight: bolder;
    padding: 18px;
    display: inline-block;
    width: 50%;
    border-radius: 15px;
    color: bisque;
}

.tabBar span:hover {
    cursor: pointer;
}

.selectedTab {
    background-color: black;
}

.sumwindow {
    background-color: rgb(49, 46, 46);
    width: 600px; /* Default width for computer screens */
    position: fixed;
    padding-bottom: 100px;
    border-radius: 5%;
    z-index: 981;
    opacity: 1;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.39);
    border: solid 0px rgba(12, 12, 12, 0.726);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    left: calc(50% - 300px); /* Center horizontally */
    margin-top: 1.25%;
    height: calc(95%); /* 95% of viewport height */
    overflow: auto;
}

.sumwindow::-webkit-scrollbar {
    width: 10px;
}

.sumwindow::-webkit-scrollbar-thumb {
    background-color: #fd0404c7;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.sumwindow::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 900px;
    padding-left: 30px;
    padding-right: 30px;
}

.sum_p {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.7;
    padding-top: 5%;
}

.Full-Article-button {
    position: absolute;
    bottom: 10px;
    left: 44%;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(245, 245, 245);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.Full-Article {
    width: 2rem;
    height: 2rem;
    color: rgb(190, 4, 4);
}

.Full-Article:hover {
    color: rgb(253, 252, 252);
}

.Full-Article-button:hover {
    background-color: rgba(255, 0, 0);
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {

    .articelTab {
        font-size: .6rem;
        padding: 10px;
        border-radius: 10px;
        color: bisque;
        
    }

    /* span{
        font-size:.2rem;

    } */
    .sum_p {
        font-size: 12.5px;
        line-height: 1;
        padding-top: 2%;
    }
    
    .sumwindow {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 5%;
        height: calc(90%);
        max-width: 100%;
        padding: 20px;
        border-radius: 8%;
        box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.418);
    }

    /* .content {
        padding: 2px;
    } */

    .Full-Article-button {
        bottom: 20px;
        width: 30px;
        height: 30px;
    }

}