.receive_click_div_helper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    /* background-color: aliceblue; */
}

.sumwindow {
    background-color: rgb(49, 46, 46);
    width: 600px;
    height: 300px;
    position: fixed;
    left: calc(50% - 300px);
    top: calc(50% - 150px);
    border-radius: 30px;
    z-index: 1001;
    opacity: 1;
    box-shadow: 15px 5px 5px rgba(255, 255, 255, 0.39);
    border: solid 1px rgba(12, 12, 12, 0.726);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(245, 245, 245);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#X:hover {
    color: red;
    font-size: large;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sum_p {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.7;
    padding-top: 5%;
}

.Full-Article-button {
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(245, 245, 245);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.Full-Article {
    width: 3rem;
    height: 3rem;
    color: rgb(190, 4, 4);
}

.Full-Article:hover {
    color: rgb(253, 252, 252);
}

.Full-Article-button:hover {
    background-color: rgba(255, 0, 0);
}
