/* body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
} */
.receive_click_div_helper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    /* background-color: aliceblue; */
}
/* .tabBar{
   
    width: 80%;
   
    background-color: #686666;
    border-radius: 20px;
} */
.articelTab {
    font-weight: bolder;
    padding: 26px;
    display: inline-block;
    width: 50%;
    border-radius: 15px;
    color: bisque;
}
.tabBar span:hover{
    cursor: pointer;
}

.selectedTab{
    background-color: black;

}
.sumwindow {
    background-color: rgb(49, 46, 46);
    width: 600px;
    position: fixed;
    /* #Note_case_ safe padding , model scrolling still show content inside it correctly */
    padding-bottom: 100px;
    /* #Note_case_ bad margin , model scrolling show less content inside it correctly,some content
    will be unscrollable overflow  because of the margin
    */

    /* margin-top:10px; */
  
    border-radius: 30px;
    z-index: 981;
    opacity: 1;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.39);
    border: solid 0px rgba(12, 12, 12, 0.726);
    /* display: flex;    /* affect height */
    /* #NOTE_Model_long */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* overflow-x: auto;
    overflow-y: scroll;
    overflow-x: hidden; */
        scrollbar-width: thin;
    /* overflow-wrap: anywhere;     affect height */

     left: calc(50% - 300px);
  
    height: calc(100%);
    overflow: auto;
    /* display: none; */

    /* padding-top:  316px;/ */


}
/* 
.close-button {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(245, 245, 245);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 900px;
    scrollbar-width: thin;
    padding-left: 30px;
    padding-right:30px ;

}

.sum_p {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.7;
    padding-top: 5%;
}

.Full-Article-button {
    position: absolute;
    bottom: 10px;
    left: 44%;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(245, 245, 245);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.Full-Article {
    width: 3rem;
    height: 3rem;
    color: rgb(190, 4, 4);
}

.Full-Article:hover {
    color: rgb(253, 252, 252);
}

.Full-Article-button:hover {
    background-color: rgba(255, 0, 0);
}
