body,html{
  background-color: black;
  margin:0;
  padding:0;
  color:white;
  width:100%;
  height:100%;
}
*{
  box-sizing: border-box;

  
}

#root{
  width:100%;
  height:100%;
  view-transition-name: none;
  font-family: 'Oswald', sans-serif;
} 



button, a {
    cursor: pointer;
  }


  li {
    padding: 0;
  }

  a {
    margin: 0;
    max-inline-size: unset;
  }

  h1,
  h2,
  h3 {
    font-weight: bold;
  }
  input{
    outline: none;
    border-radius: 10%;
  }